@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

:root {
  background-color: #010114;
  --bulma-primary: #a839ff;
  --bulma-primary-hsl: hsl(273.5, 100%, 61.37%);
  --bulma-primary-h: 273.5deg;
  --bulma-primary-s: 100%;
  --bulma-primary-l: 61.37%;
  font-family: "Ralleway", "Inter", Arial, Helvetica, sans-serif;
}

#logout:hover {
  cursor: pointer;
}

#bePro {
  margin-bottom: -4.5rem;
}

nav {
  background: linear-gradient(0deg, rgba(1, 1, 20, 1) 33%, rgba(0, 0, 0, 1) 107%);
}

footer {
  &.navbar-brand {
    min-height: 7.5vh;
  }
}

.navbar-item {
  &.logo-alta {
    height: 8rem;
    padding: 0rem;
    margin-inline-end: -7vw;
    margin-block: -1rem -1.5rem;
  }

  img,
  svg {
    max-height: 4rem;
    width: 1.2rem;
    height: 1.2rem;
  }
  &.is-expanded{
    mix-blend-mode: overlay;
  }
}



.box {
  border-radius: 1vmax;
  background-clip: padding-box;
  min-height: 6vh;

  &.video {
    width: 343px;
    height: 193px;
    overflow: hidden;
    border: 1px solid;
  }

  &.purple-grad {
    background: linear-gradient(to bottom, rgb(168.16, 57.63, 255), rgb(142.8, 0, 255));
  }

  &.p-01 {
    padding: 0.1rem;
  }

  &.primary {
    background: linear-gradient(180deg, rgb(140.17, 57.63, 255) 0%, rgb(84.1, 34.58, 153) 100%);

  }

  &.secondary {
    background-color: black;
    background: linear-gradient(180deg, #fabb00 0%, #e24400 100%);
  }
}


.text-wrapper-7 {
  color: #ffffff;
}

.text-wrapper-8 {
  color: #fabb00;
}

.active-menu {
  mix-blend-mode: exclusion !important;
  color:rgb(140, 58, 255 );
  -webkit-box-shadow: rgba(140, 58, 255, 0.8) 0rem -1.3rem 0.4rem -1rem inset;
  -moz-box-shadow:rgba(140, 58, 255, 0.8) 0rem -1.3rem 0.4rem -1rem inset;
  box-shadow: rgba(140, 58, 255, 0.8) 0rem -1.3rem 0.4rem -1rem inset;
}